.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.navigation {
    min-height: 60px;
}
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li {
    display: inline-block;
}
.navigation li a {
    font-size: 1.2rem;
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    line-height: 1.6;
}
/* .crypto-table {
    width: 100%;
    min-width: 400px;
    border-collapse: collapse;
}

.crypto-table tr {
    box-shadow: rgb(51, 51, 51) 1px 0px 1px -1px inset,
        rgb(51, 51, 51) -1px 0px 1px -1px inset,
        rgb(225, 229, 234) 0px -1px 0px 0px,
        rgb(225, 229, 234) 0px -1px 0px 0px inset;
}

.crypto-table thead {
    background-color: #efefef;
}
.crypto-table thead th {
    padding: 10px 5px;
}
.crypto-table td {
    padding: 5px;
    margin: 0;
} */

.table-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    border-collapse: collapse;
    width: 100%;
}
.table-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}
.table-body {
    color: rgba(0, 0, 0, 0.87);
}
.table-footer {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    line-height: 1.3125rem;
}
.table-sizeSmall {
    padding: 6px 24px 6px 16px;
}
.table-sizeSmall:last-child {
    padding-right: 16px;
}
.table-paddingNone {
    padding: 0;
}
.table-paddingNone:last-child {
    padding: 0;
}
.table-alignLeft {
    text-align: left;
}
.table-alignCenter {
    text-align: center;
}
.table-alignRight {
    text-align: right;
    flex-direction: row-reverse;
}
.table-alignJustify {
    text-align: justify;
}
.table-stickyHeader {
    top: 0;
    left: 0;
    z-index: 2;
    position: sticky;
    background-color: #fafafa;
}
.inc {
    color: rgb(0, 158, 115);
}
.dec {
    color: rgb(217, 64, 64);
}
